<article class="entry">
    <div class="title">
        <span class="entry-title-home"><a href="/entries/{{id}}">{{title}}</a></span><br>
    </div>
    <div class="content">
        <p>{{entry_text}}</p>
    </div>
    <div class="posted">
        <span>Posted by {{user.name}} on {{format_date created_at}}</span>
    </div>
</article>